:root{
    --cor-de-fundo-cinza: #f5f5f5;
    --fonte-padrao:'Inter', sans-serif;
    --cor-texto:#828282
    

}


/*HEADER*/

.cabecalho{

    background-color: var(--cor-de-fundo-cinza);
    font-family: var(--fonte-padrao);

    display: flex;
    justify-content: space-between;
    


}

.container-titulo{

    
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 30px;
    line-height: 24px;

}
.container-nav{
    
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
 
}

.menu-nav{
    display: flex;
    width: 100%;
    max-width: 350px;

    
    justify-content: space-evenly;
       
}
.menu-geral{
    margin: 10px;
    font-size: 16px;
    font-weight:400;
    color: var(--cor-texto);
}

.menu-todos{
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    color:#333333
    

}


/*MAIN*/

.container-main{

    display: flex;
    margin-left: 50px;

}

.container-cards{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    
}

.container-geral-produtos{
    
    width: 296px;
    height: 380px;


}
.container-img-produtos{
    background-color: var(--cor-de-fundo-cinza);



}

.container-img-produtos figure img{
    width: 100%;
    max-width: 296px;
    height: 154px;


}






